<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title></title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <header id="top_homepage">
      <h1>Vy Bui</h1>
      <p>Undergraduate student in Honours Computer Science at McGill University, Montreal</p>
    </header>
    <nav>
      <ul>
        <li><a href="index.html">Home</a></li>
        <li><a href="demo-tool.html">Demo</a></li>
        <li><a href=""></a></li>
      </ul>
    </nav>
    <main>
      <h2>Hi! My name is Vy</h2>
    </main>
    <footer>
     
    </footer>
  </body>
</html>
